.App {
  text-align: center;
  background-color: rgb(105, 102, 101);
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 30vmin;
  border-radius: 15px;
  pointer-events: none;
}

.App-header {
  
  /* background-image: url("/img/globo.png"); */
  background-size: 100%;
  position: absolute;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 101px;
}

.App-link {
  color: #61dafb;
}

