.Miniboton{

     height: 50px;
     width: 70px;
     border-radius: 20px;
     top: 50px;
     left: 40px;
     background-color:  #d9d9d9;
     box-shadow: rgb(83, 83, 83);
     text-align: center;
     display: inline-block;
     cursor: pointer;
     margin: 50px;
     text-decoration: none;
     position: fixed;
}

 .Boton{
     height: 160px;
     width: 180px;
     border-radius: 30px;
     background-color: white;
     box-shadow: rgb(0, 0, 0) 1px 2px;
     text-align: center;
     display: inline-block;
     cursor: pointer;
     margin: 50px;
     text-decoration: none;

        
}

.Boton:hover{
     transition: 0.3s ;
     background-color:  rgb(156, 156, 163);
     
}

.botonesMenu{

     width: 25vmin;
     border-radius: 10px;
     font-family: monospace;
     letter-spacing: 2px;
     color: rgb(105, 102, 101);
     font-size: 3vmin;
     padding: 15px;
     text-decoration: none;
     border: 1px ;
     background-color: #d9d9d9;
     
 }
 .botonesMenu:hover {
     background-color: rgb(83, 83, 83);
     color: #d9d9d9;
     text-decoration: none;
 }

.logonavbar{
     height: 75px;
     width: 250px;
     border-radius: 10px;
}
.logonavbar:hover{
     border: 5px solid rgb(83, 83, 83);
}


.barra{
     background-color: rgb(83, 83, 83);
     height: 100px;
}
 
.texto{
     font-family: monospace;
     color: #d9d9d9;
     letter-spacing: 5px;
}

.textoF{
     font-family: monospace;
     color: rgb(83, 83, 83);
     letter-spacing: 5px;
}

.itemsF{
     font-family: monospace;
     color: rgb(83, 83, 83);
     letter-spacing: 2px; 
}

.titulo{
     font-family: monospace;
     color: rgb(83, 83, 83);
     letter-spacing: 5px;
}

.imagen{
     height:30px;
     width:30px;
}
.hide{
     display:none;
}


.botonForm{
     
     top:830px;
     position:fixed;
     left:37%;
     display:flex;
     justify-content: space-between;
     
}
